kaggle
pandas
einops
seaborn
scikit-learn
boto3
transformers==4.35.2
neptune
sentencepiece
protobuf
optuna
fuzzysearch
fairscale
albumentations
opencv-python-headless==4.5.5.64
timm
accelerate
wandb
datasets